* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.main {
  display: flex;
  flex-direction: row; /* force horizontal */
  gap: 25px;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333;
  padding: 50px;
}
.card {
  width: 300px;
  height: 360px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.upper .img {
  padding: 5px;
  border-radius: 38px;
  border: 2px solid #e8e8e8;
}
.upper img {
  height: 35px;
  width: 40px;
  object-fit: contain;
  object-position: center;
}
.upper button {
  display: flex;
  align-items: center;
  gap: 3px;
  float: right;
  padding: 8px 10px;
  background-color: #e8e8e8;
  color: grey;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4px;
}
.upper button:hover {
  background-color: #d4d4d4;
}
.center {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.center span strong {
  font-size: 22px;
  color: #111;
}
.center span span {
  font-size: 14px;
  color: grey;
  word-spacing: -4px;
}
.center h2 {
  font-size: 23px;
  color: #111;
}
.center h4 {
  display: flex;
  gap: 6px;
}
.center h4 span {
  border: 2px solid #e8e8e8;
  background-color: hsl(0, 0%, 91%);
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: grey;
}
.lower {
  margin-top: 78px;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #e8e8e8;
}
.lower2 {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.lower2 h6 strong {
  font-size: 18px;
  color: #111;
}
.lower2 h6 p {
  font-size: 10px;
  color: grey;
}
.lower2 button {
  padding: 10px 15px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.lower2 button:hover {
  background-color: #222;
}
